/* Identities */
#title {
  background-color: #00aca2;
  text-align: left;
}
  #skills {
    background-color: #00aca2;
    color: #fff;
  }
  #nft-collection {
    padding: 8% 15%;
    align-content: center;
  }
  #contact {
    background-color: #00aca2;

  }

/* Classes */
.profile-image {
  border-radius: 100%;
}
.container-fluid {
  padding: 3% 15%;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}
.navbar-nav > a {
  margin-left:20px;
  margin-right:20px;
  font-size: 1.5rem;
  color: #fff;
}
.table {
  color: #fff;
}
.nft-title {
  color: black;
}
.card-col {
  padding: 3% 3%;
}
/* HTML */
body {
  text-align: center;
}
h1 {
  color: #fff;
}

@media (max-width: 1028px){
  .profile-image {
    position: static;
    /* transform: rotate(90deg); */
  }
  #title {
    text-align: center;
  }
}
