/*###################### HTML ######################*/
body {
  margin: 0;
  text-align: center;
  font-family: verdana, sans-serif;
}
p {
  line-height: 2;
}
h1 {
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-size: 60px;
  font-family: Rosarivo, sans-serif;

}
h2 {
  color: #66BFBF;
  font-family: DynaPuff, sans-serif;
  font-weight: normal;
  font-size: 30px;
}
h3 {
  color: #11999E;

}
a {
  color: #11999E;
}
hr {
  border-top: dotted 10px grey;
  width: 10%;
  margin: 100px auto;

}
/*###################### Class ######################*/
.top-container {
  background-color: lightblue;
  position: relative;
  padding-top: 20px;

}

.Self {
  text-decoration:underline;
}

.bottom-cloud {
  position: absolute;
  right: 450px;
  top: 50px;

}
.top-cloud {
  position: absolute;
  left: 450px;
  bottom: 300px;
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 100%;
}
.chillies-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.btn {
  padding: 10px;
  background-color: #66BFBF;
  color: white;
  border: none;
  border-radius: 8% ;
}
.middle-container {
  margin: 100px 0;
}
.bottom-container {
  background-color: #66BFBF;
  margin: 100px 0;
  padding: 50px;
}
.surname {
  color: #EAF6F6;
}
.footer-link {
  padding: 25px;
}
